<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1d" stopProcessing="true">
                    <match url="^([^/]+)/?$"  />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/index.php?page={R:1}"  />
                </rule>
                <rule name="rule 2d" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/(.*)/?$"  />
                    <action type="Rewrite" url="/index.php?page={R:1}&amp;{R:2}={R:3}"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>